body {
  height: 93vh;
  width: 99vw;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  background: #333;
  border: 1px solid #ddd;
}

.display-none {
  display: none;
}
